<app-header></app-header>
<main>
    <section class="banner">
        <div class="content">
            <h1>Contact Us<br /> – <br />Taj Mahal of India</h1>
            <img
                src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/f69213ce-73ca-42d9-9278-5d03f36510c6_gif_1.gif" />
        </div>
    </section>

    <section class="contact-section">
        <div class="form">
            <h2 *ngIf="!success">Write to Us</h2>
            <h2 *ngIf="success">Form Submitted</h2>
            <form [formGroup]="NameEmailPhoneMessage" *ngIf="!success">
                <input type="text" name="name" placeholder="Full Name*" required formControlName="name" />
                <input type="email" name="email" placeholder="Email*" required formControlName="email" />
                <input type="tel" name="phone" placeholder="Phone Number*" required formControlName="phone" />
                <textarea name="message" cols="30" rows="5" placeholder="Message" formControlName="message"></textarea>
                <button type="submit" [disabled]="!NameEmailPhoneMessage.valid"
                    (click)="submitNameEmailPhoneMessage()">Submit</button>
            </form>
            <div class="success" *ngIf="success">
                <span class="material-icons-outlined">check_circle</span>
                <button routerLink="/">Home</button>
            </div>
        </div>
        <div class="contact-info">
            <div class="border">
                <a target="_blank" [href]="social.hrefPhone">
                    <img
                        src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/3378503c-e329-4de9-bf86-9b685eba0feb_Screenshot%202025-08-20%20162259.png" />
                    <p>{{contact}}</p>
                </a>
                <a target="_blank" [href]="social.hrefEmail">
                    <img
                        src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/a88c4bbb-d20c-4c4c-bfd1-84917b5f8bf1_Screenshot%202025-08-20%20162538.png" />
                    <p>{{email}}</p>
                </a>
                <a target="_blank" [href]="social.map">
                    <img
                        src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/506e0813-42ae-4976-a2ba-bcd113cddbf8_Screenshot%202025-08-20%20162653.png" />
                    <p>{{address}}</p>
                </a>
            </div>
        </div>
    </section>

    <section class="map">
        <div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.625661942617!2d-118.37771730000001!3d34.0534723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b969b70bfcbf%3A0x359ce50de552d846!2s8566%20W%20Pico%20Blvd%2C%20Los%20Angeles%2C%20CA%2090035%2C%20USA!5e0!3m2!1sen!2sin!4v1755692195825!5m2!1sen!2sin"
                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</main>
<app-footer></app-footer>