<app-header></app-header>
<main>
    <section class="banner">
        <div class="content">
            <h1>About Us<br /> – <br />Taj Mahal of India</h1>
            <img
                src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/f69213ce-73ca-42d9-9278-5d03f36510c6_gif_1.gif" />
        </div>
    </section>

    <section class="about">
        <div class="image">
            <img [src]="hero.homeImg4" />
        </div>
        <div class="content">
            <h2>Bringing the Flavors of India to Los Angeles</h2>
            <p>At Taj Mahal of India, food is more than a meal — it’s an experience. Inspired by the rich culinary
                traditions of India, we set out to create a place where guests can enjoy authentic flavors, warm
                hospitality, and the feeling of home with every visit.</p>
            <h2>Our Story</h2>
            <p>Founded with a passion for sharing India’s vibrant culture, Taj Mahal of India has become a place where
                tradition meets taste. Our chefs bring years of experience and a deep love for cooking, preparing each
                dish
                with the freshest ingredients, fragrant spices, and time-honored recipes passed down through
                generations.
            </p>
            <h2>Our Philosophy</h2>
            <p><strong>Authenticity – </strong> We believe in serving dishes that honor the true flavors of India.</p>
            <p><strong>Quality – </strong> Every ingredient is carefully selected for freshness and taste.</p>
            <p><strong>Hospitality – </strong> Just like in India, every guest is welcomed as family</p>
            <h2>Our Food</h2>
            <p>From sizzling tandoori specialties and rich curries to comforting biryani and soft, freshly baked naan,
                every dish is crafted to transport you straight to India. Whether you’re vegetarian, vegan, or a meat
                lover,
                our menu offers something for everyone.</p>
        </div>
    </section>
</main>
<app-footer></app-footer>