  main {
      font-family: "Noto Serif", serif;

      h2 {
          font-size: 35px;
          font-weight: 600;
          color: #131417;
          text-align: center;
      }

      h3 {
          color: #131417;
          font-size: 16px;
      }

      p {
          text-align: center;
          color: #131417;
          font-weight: 400;
          font-size: 16px;
      }

      .banner {
          background-color: #333333;

          .content {
              padding: 8rem 2rem;
              display: grid;
              gap: 10px;
              align-items: center;
              justify-content: center;

              h1 {
                  font-size: 50px;
                  font-weight: 600;
                  color: #FFFFFF;
                  text-align: center;
              }

              img {
                  width: 60px;
                  margin: auto;
              }
          }
      }

      .categories {
          background-color: #E6E2D9;
          display: grid;
          gap: 10px;
          padding: 2rem;

          .category {
              max-width: 1000px;
              width: 100%;
              margin: auto;

              .category-container {
                  border: 1px solid #131417;
                  border-radius: 2px;

                  .category-header {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      padding: 0 10px;
                      font-weight: bold;
                      cursor: pointer;
                      transition: background-color 0.3s ease;
                  }

                  span {
                      font-size: 16px;
                      font-weight: 600;
                  }

                  .toggle-icon {
                      font-size: 30px;
                      font-weight: 900;
                      cursor: pointer;
                  }

                  .category-content {
                      padding: 15px;
                      border-top: 1px solid #ccc;
                      background-color: #E6E2D9;
                      display: grid;
                      gap: 10px;

                      h3 {
                          text-align: center;
                          margin-bottom: 15px;
                          font-size: 20px;
                      }

                      .item {
                          margin-bottom: 10px;

                          .item-name {
                              font-weight: bold;
                          }

                          .item-description {
                              font-size: 14px;
                              color: #555;
                          }

                          .item-price {
                              font-size: 14px;
                              font-weight: bold;
                              color: #333;
                          }

                          .special-order {
                              display: flex;
                              gap: 20px;
                              justify-content: center;

                              div {
                                  display: grid;
                                  gap: 0;
                                  text-align: center;

                                  p {
                                      font-size: 14px;
                                      font-weight: bold;
                                      color: #333;
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }


  }

  // Mobile
  @media only screen and (max-device-width: 480px) {
      main {}
  }